<ion-content class="mainbackground">

<div class="form-box">
<div class="logo"><img src="../../../assets/images/logoicon.svg" class="w-100"></div>
<div class="title-box">
<div class="title">Forgot password?</div>
</div>
<form>
<div class="form-group">
<input type="text" placeholder="Username" class="form-control" />
</div>
<div class="text-center">
<button type="submit" class="theme btn btn-primary">Submit</button>
</div>
</form>
</div>

<div class="footer-link"> Back to <a (click)="registerPage()">Sign up</a></div>
</ion-content>
