<app-sidebar></app-sidebar>
<ion-content  class="mainbackground">
<div class="container">
<div class="header">
<div class="row">
<div class="col-8"><div class="title"><a (click)="settingsPage()" class="back-btn"><i class="fas fa-angle-left" ></i></a> Change Password</div>
</div>
<div class="col-4 text-right"><a class="pulse-animation notification-btn" (click)="notificationsPage()"><i class="far fa-bell"></i></a> <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg" class="width-100"/></div></div>
</div>

</div>
<div class="body">
<div class="form-page-box">
<form>
<div class="form-group">
<input type="password" placeholder="Old Password" class="form-control"/>
</div>
<div class="form-group">
<input type="password" placeholder="New Password" class="form-control"/>
</div>
<div class="form-group">
<input type="password" placeholder="Confirm Password" class="form-control"/>
</div>
<div class="text-center mt-4">
<button type="submit" class="theme btn btn-primary">Save</button>
</div>
</form>
</div>
</div>
</div>
</ion-content>
<app-footer></app-footer>