<ion-content class="mainbackground">
<div class="form-box">

 
 <div class="logo"><img src="../../../assets/images/logoicon.svg" class="w-100"></div>
 <div class="title">Sign Up With Social</div>
 
 <ul class="social">
 <li><a><i class="fab fa-facebook-f"></i></a></li>
 <li><a><i class="fab fa-twitter"></i></a></li>
 <li><a><i class="fab fa-linkedin-in"></i></a></li>
 </ul>
  <div class="or">OR</div>
 <form>
   <div class="form-group">
      <input type="text" class="form-control" id="username" placeholder="Username" name="Username" required="">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="Password" name="Password" required="">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" name="Password" required="">
    </div>
      <button type="submit" class="theme btn btn-primary">Sign Up</button>

 </form>
 </div>
<div class="footer-link"> You have account? <a (click)="loginPage()">Sign In</a></div>
</ion-content>
