<ion-content class="mainbackground">

<div class="logo">
<div class="logo-box">
<div class="icon"><img src="../../../assets/images/logoicon.svg" class="w-100"/></div>
<div class="name">Kird</div>
</div>
</div>
<div class="walkthrough-slider">

<owl-carousel [options]="mySlideOptions" class="owl-theme">
     <div class="item">
   
    <div class="icon"><img src="../../../assets/images/icon1.svg" class="w-100 h-100"/></div>
    <div class="slider-title">Don't share password</div>
    <p class="slider-description">Use strong combonations of letters, numbers and special characters to make your password.</p>
   
    </div>
     <div class="item">
    <div class="icon"><img src="../../../assets/images/icon2.svg" class="w-100 h-100"/></div>
    <div class="slider-title">Forgot PIN?</div>
    <p class="slider-description">Don't take too much tension about PIN. Just make one call to bank and change your pin.</p>
   
    </div>
    <div class="item">
    
        <div class="icon"><img src="../../../assets/images/icon3.svg" class="w-100 h-100"/></div>
    <div class="slider-title">Manage Account</div>
    <p class="slider-description">Bank account make more secure keeping transaction active and changing password regularly.</p>
  
    </div>
     </owl-carousel>
   
     </div> 
<div class="bottom-btn-box">
<a class="theme btn btn-primary"(click)="loginPage()">Get Started</a>
</div>     
</ion-content>