<ion-content class="mainbackground">
<div class="container">
<div class="logo animated fadeInUp"> 
<div class="icon"><img src="../../assets/images/logoicon.svg"  class="w-100"/></div>
</div>

</div>
<div class="company-logo">
<img src="../../assets/images/company-logo-white.png" class="w-100"/>
</div>
</ion-content>