/*
* ----------------------------------------------------------------------------------------
*  Splash screen
* ----------------------------------------------------------------------------------------
*/


.splash-background {
  width: 100%;
  position:relative;
 }

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
 width: 80px;
 margin-top: -30px;
   text-align:center;
   position:relative;
   z-index:99;
}

.company-logo {
 width: 150px;
position: absolute;
bottom: 30px;
margin-left: auto;
margin-right: auto;
left: 0px;
right: 0px;
}
